/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 3%;
  background-color: white;
  position: relative;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.navigation-left {
  display: flex;
  align-items: center;
}

.img-logo-svg {
  width: 40px;
  height: 51px;
  display: inline;
  background-image: url('assets/img/my-town-logo.svg');
  background-size: cover;
}

.navigation-right {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.nav-menu {
  display: block;
  margin-right: 14px;
  --nav-link-float: left;
}

.menu-button {
  display: none;
}

@media only screen and (max-width: 991px) {
  .nav-menu {
    display: block;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    --nav-link-float: none;
    overflow: hidden;
    
    max-height: 0;
    box-shadow: 0 50px 80px -30px rgba(53, 52, 72, 0);
    transition: max-height 400ms, box-shadow 700ms;
  }
  
  .nav-menu.open {
    max-height: 100vh;
    box-shadow: 0 50px 80px -30px rgba(53, 52, 72, 0.2);
  }
  
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin-left: 14px;
    margin-right: 0;
    min-width: 55px;
    min-height: 55px;
    background-color: rgba(126, 130, 143, 0.1);
    border-radius: 4px;
  }
  
  .menu-button.open {
    background-color: var(--color-brand);
    color: white;
  }
}

.cart-button {
  display: flex;
  padding: 13px;
  min-width: 55px;
  min-height: 55px;
  border-radius: 4px;
  position: relative;
  background-image: url('assets/img/Button Wave.svg');
  background-color: var(--color-brand);
  align-items: center;
  font-size: 18px;
}

.cart-icon {
  display: block;
  width: 25px;
  color: white;
  text-align: center;
}

.cart-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: auto;
  left: auto;
  min-width: 25px;
  height: 25px;
  font-size: 13px;
  font-weight: bold;
  color: var(--color-brand);
  border-radius: 100px;
  box-shadow: 10px 10px 25px rgba(126, 130, 143, 0.27);
  background-color: white;
}