/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  --font-size: var(--font-size-default);
  --font-weight: var(--font-weight-default);
  padding-bottom: 10px;
}
