/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 3% 140px 3%;
  overflow: hidden;
  position: relative;
  background-image: url('../assets/img/BG%20Shape.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 0;
}

.root-page .header {
  background-image: url('assets/img/BG%20Shape.svg');
}

.container-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 50%;
  padding-right: 40px;
}

.hero-image-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.hero-image {
  display: inline;
  border-radius: 100px 15px 15px;
  width: 400px;
}

@media only screen and (max-width: 991px) {
  .header {
    flex-wrap: wrap;
  }
  
  .container-flex {
    flex-wrap: wrap;
  }
  
  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 730px;
    padding-left: 40px;
    margin-bottom: 40px;
  }
  
  .hero-image-wrap {
    justify-content: center;
    width: 100%;
    margin-top: 60px;
  }
}

::slotted(h1) {
  margin-bottom: 20px;
  max-width: 580px;
  font-size: 60px !important;
  font-weight: bold !important;
}