/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.headline-field {
  --font-size: 60px;
  --font-weight: bold;
  --line-height: 72px;
  --font-color-strong: var(--color-brand);
}

@media only screen and (max-width: 478px) {
  .headline-field {
    --font-size: 50px;
    --line-height: 62px;
  }
}

business-card-block {
  display: inline-block;
  width: 46%;
  margin: 2%;
}

@media only screen and (max-width: 991px) {
  business-card-block {
    width: 96%;
  }
}

li {
  font-size: 16px;
  color: var(--color-blackish);
}

field-block {
  display: inline-block;
}

.request-icon {
  display: inline-block;
  margin-left: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.request-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}