:host {
  display: block;
}

.content {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color-blackish);
}

.content strong {
  color: var(--color-brand);
}

.editing-icon {
  margin-left: 20px;
  color: gray;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.editing {
  background-color: lightyellow;
}

a {
  font-size: var(--font-size);
  color: var(--color-blackish);
}