/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content-section-bg {
  display: block;
  padding: 140px 3%;
  position: relative;
  background-image: url('assets/img/BG Shape Content.svg');
  background-size: 96% 90%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 850px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
