/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
}

.content-section-bg {
  display: block;
  padding: 140px 3%;
  position: relative;
  background-image: url('assets/img/BG Shape Content.svg');
  background-size: 96% 90%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 850px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

::slotted(h2) {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  font-size: 55px !important;
  line-height: 1 !important;
  font-weight: bold !important;
  letter-spacing: -0.03em !important;
  color: var(--color-brand) !important;
}