/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content-bg-section {
  display: block;
  padding: 140px 3% 70px;
  position: relative;
  background-image: url('assets/img/BG Shape Content.svg');
  background-size: 96%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 478px) {
.content-bg-section {
  padding: 70px 3% 35px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
