/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content-section {
  display: block;
  padding: 120px 3% 60px;
  position: relative;
  background-color: transparent;
}

@media only screen and (max-width: 478px) {
.content-section {
  padding: 60px 3% 30px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}
