/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
}

.content-section {
  display: block;
  padding: 120px 3%;
  position: relative;
  background-color: transparent;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

::slotted(h2) {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  font-size: 55px !important;
  line-height: 1 !important;
  font-weight: bold !important;
  letter-spacing: -0.03em !important;
  color: var(--color-brand) !important;
}