/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
}

#business-map {
  --map-height: 70vh;
  --map-width: auto;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  --font-size: var(--font-size-default);
  --font-weight: var(--font-weight-default);
  padding-bottom: 10px;
}

.detail-left {

}

.detail-right {
  margin-left: 20px;
}

.name-field {
  --font-size: 60px;
  --font-weight: bold;
  --line-height: 72px;
}

.description-field {
  --font-size: 18px;
  --font-weight: normal;
  --line-height: 22px;
  margin-top: 22px;
}

.field {
  justify-content: center;
}
