/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
}

#business-map {
  --map-height: 70vh;
  --map-width: auto;
}

.details {
  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-left {

}

.detail-right {
  margin-left: 20px;
}