:host {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 3%;
  background-color: white;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.navigation-left {
  display: flex;
  align-items: center;
}

.img-logo-svg {
  width: 40px;
  height: 51px;
  display: inline;
  background-image: url('assets/img/Logo.svg');
  background-size: cover;
}

.navigation-right {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: block;
  margin-right: 14px;
}

.cart-button {
  display: flex;
  padding: 13px;
  min-width: 29px;
  min-height: 29px;
  border-radius: 4px;
  position: relative;
  background-image: url('assets/img/Button Wave.svg');
  background-color: var(--color-brand);
  align-items: center;
  font-size: 18px;
}

.cart-icon {
  display: block;
  width: 25px;
  color: white;
  text-align: center;
}

.cart-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: auto;
  left: auto;
  min-width: 25px;
  height: 25px;
  font-size: 13px;
  font-weight: bold;
  color: var(--color-brand);
  border-radius: 100px;
  box-shadow: 10px 10px 25px rgba(126, 130, 143, 0.27);
  background-color: white;
}