:host {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100 3% 140 3%;
  overflow: hidden;
  position: relative;
  background-image: url(assets/img/BG%20Shape.svg);
  background-repeat: no-repeat;
}

.container-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 50%;
  padding-right: 40px;
}

.hero-image-wrap {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
}

.hero-image {
  display: inline;
  border-radius: 100px 15px 15px;
  width: 475px;
}

@media only screen and (max-width: 991px) {
  .header {
    flex-wrap: wrap;
  }
  
  .container-flex {
    flex-wrap: wrap;
  }
  
  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 730px;
    padding-left: 40px;
    margin-bottom: 40px;
  }
  
  .hero-image-wrap {
    justify-content: center;
    width: 100%;
    margin-top: 60px;
  }
}

::slotted(h1) {
  margin-bottom: 20px;
  max-width: 580px;
  font-size: 60px !important;
  font-weight: bold !important;
}